[Unit]
Description=movienight
After=network.target

[Service]
Type=simple
User={{ user_name }}
WorkingDirectory={{ app_root }}
ExecStart={{ app_root }}/MovieNight
TimeoutSec=15
Restart=always

[Install]
WantedBy=multi-user.target
