{
  "AdminPassword": "",
  "ApprovedEmotes": null,
  "Bans": [],
  "ListenAddress": ":8089",
  "LogFile": "movienight.log",
  "LogLevel": "debug",
  "MaxMessageCount": 300,
  "NoCache": false,
  "PageTitle": "{{ page_title }}",
  "RateLimitAuth": 5,
  "RateLimitChat": 1,
  "RateLimitColor": 60,
  "RateLimitDuplicate": 30,
  "RateLimitNick": 300,
  "RegenAdminPass": true,
  "StreamKey": "{{ stream_key }}",
  "TitleLength": 50,
  "TwitchClientID": "{{ twitch_client_id }}",
  "TwitchClientSecret": "{{ twitch_client_secret }}",
  "WrappedEmotesOnly": false
}
